<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email ejs temp</title>
</head>
<body>
    <h1>Wellcom !! <%= email %> </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta illum error molestias delectus corporis quasi nobis qui, ducimus porro a sapiente eius aliquam quod ratione laudantium iste provident ut facilis.</p>
</body>
</html>